<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>SoftResources 2025 GFOA Survey</title>
  </head>
  <body>
    <!-- <h1>SoftResources GFOA 2025 Survey</h1> -->
    <section class="form-container">
      <form class="form">
        <div id="q1">
          <h2>Which ERP system do you use?</h2>
          <ul>
            <li>
              <input
                id="Aclarian"
                type="checkbox"
                class="form-field"
                name="Aclarian"
              />
              <label for="Aclarian">Aclarian</label>
            </li>
            <li>
              <input id="BS&A" type="checkbox" class="form-field" name="BS&A" />
              <label for="BS&A">BS & A</label>
            </li>
            <li>
              <input
                id="Caselle"
                type="checkbox"
                class="form-field"
                name="Caselle"
              />
              <label for="Caselle">Caselle</label>
            </li>
            <li>
              <input
                id="CentralSquare"
                type="checkbox"
                class="form-field"
                name="CentralSquare"
              />
              <label for="CentralSquare">CentralSquare</label>
            </li>
            <li>
              <input id="CGI" type="checkbox" class="form-field" name="CGI" />
              <label for="CGI">CGI</label>
            </li>
            <li>
              <input
                id="DebtBook"
                type="checkbox"
                class="form-field"
                name="DebtBook"
              />
              <label for="DebtBook">DebtBook</label>
            </li>
            <li>
              <input
                id="GovSense"
                type="checkbox"
                class="form-field"
                name="GovSense"
              />
              <label for="GovSense">GovSense</label>
            </li>
            <li>
              <input
                id="i3Verticals"
                type="checkbox"
                class="form-field"
                name="i3Verticals"
              />
              <label for="i3Verticals">i3 Verticals</label>
            </li>
            <li>
              <input
                id="Infor"
                type="checkbox"
                class="form-field"
                name="Infor"
              />
              <label for="Infor">Infor</label>
            </li>
            <li>
              <input
                id="OpenGov"
                type="checkbox"
                class="form-field"
                name="OpenGov"
              />
              <label for="OpenGov">OpenGov</label>
            </li>
            <li>
              <input
                id="Oracle"
                type="checkbox"
                class="form-field"
                name="Oracle"
              />
              <label for="Oracle">Oracle</label>
            </li>
            <li>
              <input id="Sage" type="checkbox" class="form-field" name="Sage" />
              <label for="Sage">Sage</label>
            </li>
            <li>
              <input id="SAP" type="checkbox" class="form-field" name="SAP" />
              <label for="SAP">SAP</label>
            </li>
            <li>
              <input
                id="Springbrook"
                type="checkbox"
                class="form-field"
                name="Springbrook"
              />
              <label for="Springbrook">Springbrook</label>
            </li>
            <li>
              <input
                id="Tyler"
                type="checkbox"
                class="form-field"
                name="Tyler"
              />
              <label for="Tyler">Tyler</label>
            </li>
            <li>
              <input
                id="Workday"
                type="checkbox"
                class="form-field"
                name="Workday"
              />
              <label for="Workday">Workday</label>
            </li>
            <li>
              <input
                id="NetSuite"
                type="checkbox"
                class="form-field"
                name="NetSuite"
              />
              <label for="NetSuite">NetSuite</label>
            </li>
            <li>
              <input
                id="Acumatica"
                type="checkbox"
                class="form-field"
                name="Acumatica"
              />
              <label for="Acumatica">Acumatica</label>
            </li>
            <li>
              <input
                id="Crafted"
                type="checkbox"
                class="form-field"
                name="Crafted"
              />
              <label for="Crafted">Crafted</label>
            </li>
            <li>
              <input
                id="Datacor"
                type="checkbox"
                class="form-field"
                name="Datacor"
              />
              <label for="Datacor">Datacor</label>
            </li>
            <li>
              <input
                id="Aptean"
                type="checkbox"
                class="form-field"
                name="Aptean"
              />
              <label for="Aptean">Aptean</label>
            </li>
            <li>
              <input
                id="Epicor"
                type="checkbox"
                class="form-field"
                name="Epicor"
              />
              <label for="Epicor">Epicor</label>
            </li>
            <li>
              <input
                id="Genius"
                type="checkbox"
                class="form-field"
                name="Genius"
              />
              <label for="Genius">Genius</label>
            </li>
            <li>
              <input id="IFS" type="checkbox" class="form-field" name="IFS" />
              <label for="IFS">IFS</label>
            </li>
            <li>
              <input
                id="Kenady"
                type="checkbox"
                class="form-field"
                name="Kenady"
              />
              <label for="Kenady">Kenady</label>
            </li>
            <li>
              <input
                id="MSDynamics"
                type="checkbox"
                class="form-field"
                name="MS Dynamics"
              />
              <label for="MSDynamics">MS Dynamics</label>
            </li>
            <li>
              <input
                id="Priority"
                type="checkbox"
                class="form-field"
                name="Priority"
              />
              <label for="Priority">Priority</label>
            </li>
            <li>
              <input
                id="Syspro"
                type="checkbox"
                class="form-field"
                name="Syspro"
              />
              <label for="Syspro">Syspro</label>
            </li>
            <li>
              <input
                id="Striven"
                type="checkbox"
                class="form-field"
                name="Striven"
              />
              <label for="Striven">Striven</label>
            </li>
          </ul>
        </div>
        <div id="q2">
          <button class="q2-btn" id="like-it" value="love">It's tops!</button>
          <button class="q2-btn" id="meh" value="meh">Meh.</button>
          <button class="q2-btn" id="over-it" value="hate">Over it.</button>
        </div>
        <div id="q3">
          <h2>Want the results?</h2>
          <br />
          <input
            type="email"
            class="form-field"
            id="survey_email"
            name="survey_email"
            placeholder="myemail@email.com"
            inputmode="email"
          /><button class="q3-btn">Submit</button>
        </div>
      </form>
    </section>
  </body>
</html>
