<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/script.js"></script>
    <title>SoftResources 2025 GFOA Survey</title>
  </head>
  <body>
    <div id="thank-you-banner" style="display: none" class="flash success">
      Thanks for your submission!
    </div>
    <section class="form-container">
      <form class="form" id="survey-form" action="/submit" method="POST">
        <div id="q1">
          <h2>Which system do you use?</h2>
          <div id="system-list">
            <input type="hidden" name="erp" id="erp-selected" value="" /><%-
            systemList %>
          </div>
        </div>
        <div id="q2">
          <h2>How's it working for you?</h2>
          <input type="hidden" name="likeIt" id="like-selected" value="" />
          <button class="q2-btn" id="like-it" value="love" type="button">
            &#128522; Love it!
          </button>
          <button class="q2-btn" id="meh" value="meh" type="button">
            &#x1F610; Meh.
          </button>
          <button class="q2-btn" id="over-it" value="hate" type="button">
            &#128544; Over it.
          </button>
        </div>
        <div id="q3">
          <h2>Want the results?</h2>
          <br />
          <input
            type="email"
            class="form-field"
            id="survey_email"
            name="survey_email"
            placeholder="myemail@email.com"
            inputmode="email"
          />
        </div>
        <div id="q4">
          <button class="q4-btn" id="submit" type="submit">Finished</button>
        </div>
      </form>
    </section>
  </body>
</html>
