<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>SoftResources 2025 GFOA Survey</title>
  </head>
  <body>
    <!-- <h1>SoftResources GFOA 2025 Survey</h1> -->
    <section class="form-container">
      <form class="form" id="survey-form" action="/submit" method="POST">
        <div id="q1">
          <h2>Which system do you use?</h2>
          <div id="system-list"><%- systemNames %></div>
        </div>
        <div id="q2">
          <h2>How's it working for you?</h2>
          <button class="q2-btn" id="like-it" value="love">
            It's the BEST!
          </button>
          <button class="q2-btn" id="meh" value="meh">Meh.</button>
          <button class="q2-btn" id="over-it" value="hate">Over it.</button>
        </div>
        <div id="q3">
          <h2>Want the results?</h2>
          <br />
          <input
            type="email"
            class="form-field"
            id="survey_email"
            name="survey_email"
            placeholder="myemail@email.com"
            inputmode="email"
          />
        </div>
        <div id="q4">
          <span id="done">
            <button class="done-btn" id="submit">Finished</button>
          </span>
        </div>
      </form>
    </section>
  </body>
</html>
