<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3;url=/" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/script.js"></script>
    <title>SoftResources 2025 GFOA Survey - Thank You</title>
  </head>
  <body>
    <div class="success"><p>Thanks for participating!</p></div>
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const defaults = {
          spread: 360,
          ticks: 50,
          gravity: 0,
          decay: 0.94,
          startVelocity: 30,
          shapes: ["star"],
          colors: ["FFE400", "FFBD00", "E89400", "FFCA6C", "FDFFB8"],
        };

        function shoot() {
          confetti({
            ...defaults,
            particleCount: 50,
            scalar: 1.2,
            shapes: ["star"],
          });

          confetti({
            ...defaults,
            particleCount: 20,
            scalar: 0.75,
            shapes: ["circle"],
          });
        }

        setTimeout(shoot, 0);
        setTimeout(shoot, 100);
        setTimeout(shoot, 200);
      });
    </script>
  </body>
</html>
