:root {
  --primary-text: black;
  --primary-background: white;
  --sr-blue: #0b45bb;
  --body-font: Arial, sans-serif;
}

body {
  font-family: var(--body-font);
  background-color: var(--sr-blue);
  color: var(--primary-text);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 2%;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

#q1,
#q2,
#q3 {
  background-color: var(--primary-background);
  border: 3px solid var(--primary-text);
  border-radius: 10px;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: 90% 10%;
  gap: 25px;
}

.form-container h2 {
  text-align: center;
}

.form {
  display: contents;
}

#q1 {
  grid-column: 1;
  grid-row: 1;
}

#system-list {
  border: none;
}

#system-list ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#q2 {
  grid-column: 2;
  grid-row: 1;
  display: block;
  justify-content: center;
  align-content: center;
}

#q3 {
  grid-column: 3;
  grid-row: 1;
}

#q4 {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.q2-btn {
  font-size: 1.5em;
  font-family: var(--body-font);
  height: 18%;
  width: 80%;
  margin: 5%;
  padding: 5%;
  border: 3px solid var(--primary-text);
  border-radius: 5px;
}

.q2-btn:hover,
.q3-btn:hover,
.q4-btn:hover,
li:hover {
  background-color: #0b45bb;
  color: white;
  width: 80%;
}

.q2-btn:active,
.q3-btn:active,
.q4-btn:active,
li:active {
  background-color: #0b45bb;
  color: white;
  width: 80%;
}

.q2-btn.selected,
li.selected {
  width: 80%;
}

li {
  font-family: var(--body-font);
  font-size: 1.2em;
}

#survey_email {
  font-size: 1.2em;
  text-align: center;
  width: 80%;
  height: 15%;
  margin: 5%;
  padding: 5%;
  border: 3px solid var(--primary-text);
  border-radius: 5px;
}

.q3-btn {
  font-size: 1.5em;
  font-family: var(--body-font);
  height: 20%;
  width: 80%;
  margin: 5%;
  padding: 5%;
  border: 3px solid var(--primary-text);
  border-radius: 5px;
}

#q4 {
  grid-column: 1/4;
  grid-row: 2;
  /* background-color: var(--primary-background);
  border: 3px solid var(--primary-text);
  border-radius: 5px; */
}

.q4-btn {
  text-align: center;
  font-size: 1.5em;
  font-family: var(--body-font);
  width: 80%;
  border: 3px solid var(--primary-text);
  border-radius: 5px;
}

.success {
  background-color: white;
  color: black;
  width: 60%;
  height: 30%;
  border-radius: 5px;
  border: 3px solid black;
  text-align: center;
  font-size: 2em;
  margin: auto;
}

@media (max-width: 768px) {
  /* .form-container {
    grid-template-columns: 1fr;
    width: 100%;
  } */
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* #q1,
  #q2,
  #q3 {
    grid-column: 1;
    grid-row: auto;
  } */

  #system-list ul {
    grid-template-columns: 1fr;
  }

  .q2-btn,
  #survey_email,
  .q3-btn {
    width: 100%;
  }

  /* .q3-btn {
    width: fit-content; /* Make buttons scale better on small screens */
  /* height: auto;
  }

  #survey_email {
    width: fit-content;
    height: auto;
  } */
}
